<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Simpli Health</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
   <!-- style css -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
   <!-- fevicon -->
   <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>

<body>
   <!-- header section start -->
   <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="logo"><a href="index.html"><img src=""></a></div> <!-- logo -->
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('home_page') }}">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('health_page') }}">My Health</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="medicine.html">Diagnose</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="news.html">Community</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('contact_page') }}">About Us</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('signup_page') }}">Sign Up</a>
               </li>
            </ul>
         </div>
      </nav>
      <!-- header section end -->
      <!-- banner section start -->
      <div id="main_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Simpli <br><span style="color: #151515;">Health</span></h1>
                           <p class="banner_text">Get your health records, details about spread of diseases in your area and more....</p>
                           <div class="btn_main">
                              <div class="contact_bt"><a href="#">Your Health</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="{{ url_for('static', filename='images/img-1.png') }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Simpli <br><span style="color: #151515;">Health</span></h1>
                           <p class="banner_text">Tell us what you feel and we'll give you a list of probable diseases.</p>
                           <div class="btn_main">
                              <div class="contact_bt"><a href="#">Diagnose</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="{{ url_for('static', filename='images/img-1.png') }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Simpli <br><span style="color: #151515;">Health</span></h1>
                           <p class="banner_text">A community to discuss mental health problems.</p>
                           <div class="btn_main">
                              <div class="contact_bt"><a href="#">Mental Health</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="{{ url_for('static', filename='images/img-1.png') }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" style="font-size:24px; padding-top: 4px;"></i>
         </a>
         <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" style="font-size:24px; padding-top: 4px;"></i>
         </a>
      </div>
   </div>
   <!-- banner section end -->
   <!-- health section start -->
   <div class="health_section layout_padding">
      <div class="container">
         <h1 class="health_taital">What we found?</h1>
         
         <br> </br>
         <br> </br>

         <h1>1. Mental Health</h1> <br>
         <h2>
            In our survey, 36% of people said they had experienced a mental health problem.
            Data shows how common mental health issues are increasing.
         </h2>
         Most of the people who have experienced a mental health problem have not sought help.
         We aim to solve this problem, by creating a community where people can discuss their problems and get help.
         <br> </br>
         <canvas id="chart1"></canvas>
         <br> </br>
         <br> </br>

         <h1>2. Diagnosis</h1> <br>
         <h2>
            78% of people reported that they consult a doctor for health issues.
            But in reality number is much less, specially in rural areas.
         </h2>
         <canvas id="chart2"></canvas>


         
   <!-- knowledge section end -->
   <!-- news section start -->
   <div class="news_section layout_padding">
      <div class="container">
         <h1 class="health_taital">Best Of Health Care For You</h1>
         <p class="health_text"></p>
         <div class="news_section_2 layout_padding">
            <div class="row">
               <div class="col-lg-4 col-sm-6">
                  <div class="box_main">
                     <div class="icon_1"><img src="{{ url_for('static', filename='images/icon-2.png') }}"></div>
                     <h4 class="daily_text">Health records in one place</h4>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <div class="box_main active">
                     <div class="icon_1"><img src="{{ url_for('static', filename='images/icon-3.png') }}"></div>
                     <h4 class="daily_text_1">No need to get your medical tests redone in every hospital.</h4>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <div class="box_main">
                     <div class="icon_1"><img src="{{ url_for('static', filename='images/icon-4.png') }}"></div>
                     <h4 class="daily_text_1">Get help with your mental health instantly.</h4>
                  </div>
               </div>
            </div>
         </div>
         <div class="getquote_bt"><a href="#">Get Started! <span><img src="{{ url_for('static', filename='images/right-arrow.png') }}"></span></a></div>
      </div>
   </div>
   <!-- news section end -->
   

   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <!-- <div class="footer_logo"><a href="index.html"><img src="images/logo.png"></a></div> -->
               <h1 class="adderss_text">About Us</h1>
               <div class="map_icon"><img src="{{ url_for('static', filename='images/map-icon.png') }}"><span class="paddlin_left_0">TSSS, Mayapuri</span></div>
               <div class="map_icon"><img src="{{ url_for('static', filename='images/call-icon.png') }}"><span class="paddlin_left_0">+91 8383072806</span></div>
               <div class="map_icon"><img src="{{ url_for('static', filename='images/mail-icon.png') }}"><span class="paddlin_left_0">ravigargrud@gmail.com</span></div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Our Motto</h1>
               <div class="hiphop_text_1">Make a website completely free for everyone where everything needed for a better health is provided.</div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Get Updates</h1>
               <input type="text" class="Enter_text" placeholder="Enter your Email" name="Enter your Email">
               <div class="subscribe_bt"><a href="#">Subscribe</a></div>
         </div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">2022 All Rights Reserved.</p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
   <!-- sidebar -->
   <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
   <!-- javascript -->
   <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script>


   const labels = [
      "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019"
  ];
  const data1 = {
    labels: labels,
    datasets: [
      {
        label: "Mental Health Cases",
        backgroundColor: "rgb(255, 99, 132)",
        borderColor: "rgb(255, 99, 132)",
        data: [
            33, 37.6, 60.5, 74, 90.75, 90.75, 125.5, 127
        ],
      },
    ],
  };
  const config1 = {
    type: "line",
    data: data1,
    options: {},
  };
  const myChart1 = new Chart(document.getElementById("chart1"), config1);


  const labels2 = ["Google Search", "Self Assumption", "Proper Medical Consultation"];
const data2 = {
  labels: labels2,
  datasets: [{
    label: 'How do you usually diagnose an illness?',
    data: [5.7, 12.8, 78.7],
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)'
    ],
    borderWidth: 1
  }]
};

const config2 = {
    type: "bar",
    data: data2,
    options: {},
  };
  const myChart2 = new Chart(document.getElementById("chart2"), config2);

</script>

</body>

</html>